{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ],     //Preset env by default is same as preset-latest. contains all (es2015,es2016,es2017 and more as time). babel-polyfill autohandled by preset
  "plugins": [
    "react-hot-loader/babel",
    "@babel/proposal-class-properties", //for typescript
    "@babel/proposal-object-rest-spread"//for typescript
  ]
}