extends ../layouts/main.pug

block pageTitle
    | Testing specific


block styles
    link(href= rootUrl+"css/index2.min.css", rel="stylesheet")

block scripts
    script(src=rootUrl+"js/index2.js")

block content
    div#example
    header.bg1 sdjmskdm
    header.bg2 sdjmskdmder