extends ../layouts/main.pug

block pageTitle
    | Hello React


block styles
    link(href= rootUrl+"css/index.min.css", rel="stylesheet")

block scripts
    script(src=rootUrl+"js/index.js")

block content
    div#example
    header.bg1 sdjmskdm
    header.bg2 sdjmskdmder


