include ../partials/variables
block styles
    link(href= rootUrl+"css/overview.min.css", rel="stylesheet")

block content
    div.overview.items-1
        div.items
            div.overview-item
            div.overview-item
            div.overview-item
            div.overview-item
            div.overview-item
            div.overview-item
            div.overview-item
            div.overview-item
            div.overview-item
        div.no-item
            | No other participant detected
        div.close.fa.fa-cross