@import "variables";
@import "mixins";
@import "extendables";

body{
  background: $color-panel-header-bg;
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/Pacifico.ttf');
}

.bg1{
  font-family: myFirstFont;
  background: $color-primary2-bg;
}

.bg2{
  background: $color-text-primary;
}