@import "variables";
@import "mixins";
@import "extendables";

body{
  //background: $color-panel-header-bg;
  background: url('../images/CMSCreativeKingfisher.jpg?size=100');
}

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/Pacifico.ttf');
}

.bg1{
  font-family: myFirstFont;
  background: url('../images/download.png?size=2');
  background: $color-primary2-bg;
}

.bg2{
  background: url('../images/CMSCreativeKingfisher.jpg');
  background: $color-text-primary;
}