div.footer-copyright
    div.container
        span.copyright-text.col-sm-6.col-xs-12
            span Copyright &copy 2017&nbsp
                 = siteName
        div.col-sm-6.col-xs-12
            div.margin-tb.visible-xs
            div.pull-right.social-icon-container
                i.fa.fa-rss.social-icon
                i.fa.fa-twitter.social-icon
                i.fa.fa-google-plus.social-icon
                i.fa.fa-facebook.social-icon
