-
    var headerItemList = [
        {name: "Home", link: '#'},
        {name: "News", link: '#'},
        {name: "Gadgets", link: '#'},
        {name: "Apps", link: '#'}
    ]

div.site-header-wrapper
    nav.navbar.navbar-inverse.site-header.container
        div.container-fluid
            div.navbar-header
                button.nav-collapse-btn.navbar-toggle(type='button',data-toggle='collapse',data-target="#header-navbar")
                    span.fa-bars.fa
                a.navbar-brand(href='#')
                    img(src= rootUrl+'images/logo-brand.png')
            div.collapse.navbar-collapse#header-navbar
                ul.nav.navbar-nav
                    - for(var x=0;x<headerItemList.length;++x)
                        li
                            a(href= headerItemList[x].link)
                                = headerItemList[x].name

                ul.nav.navbar-nav.navbar-right
                    li
                        a.pointer(style='padding-right:0px')
                            input.search(type='search',placeholder='Search')
                            div.clearfix