div.headline
    h4.footer-heading.bold
        | Headline
    div.footer-col-content
        p Aenean ullamcorper porttitor semper. Mauris vestibulum pretium accumsan. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vel efficitur enim.
        a.readmore.pointer Read More