div.blog-item
    img.blog-img.col-xs-3(src= rootUrl+"images/footer-filler-image.png")
    div.blog-info.col-xs-9
        div.name Aenean ullamcorper porttitor semper. Mauris vestibulum pretium accumsan.
        div.date 30 May, 2018
    div.clearfix